@model Vacationes_MangementHR_System.Models.VacationPlan

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>VacationPlan</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (ViewBag.ErrorVacation == false)
            {
                <div class="w-100">
                    <h4 class="alert alert-danger ">this vacation is included</h4>

                </div> <br/>
            }
            <div class="input-group mb-3">
                <span class="input-group-text">Find Employee</span>
                <input type="text" class="form-control" placeholder="Enter Employee Name" id="employeeName" name="employeeName">
                <button class="btn btn-success" type="button" id="search" onclick="findEmployee()">Search</button>
                <select asp-for="requestVacation.EmployeeId" class="form-control" id="ddlEmployeeId">
                    <option value="">-----------Search Employee----------</option>
                </select>
            </div>
            <span asp-validation-for="requestVacation.EmployeeId" class="text-danger"></span>

            <div class="row form-group">
                <div class="form-group col-md-6">
                    <label asp-for="requestVacation.StartDate" class="control-label"></label>
                    <input asp-for="requestVacation.StartDate" class="form-control" type="date" />
                    <span asp-validation-for="requestVacation.StartDate" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="requestVacation.EndDate" class="control-label"></label>
                    <input asp-for="requestVacation.EndDate" class="form-control" type="date" />
                    <span asp-validation-for="requestVacation.EndDate" class="text-danger"></span>
                </div>
            </div>


            <div class="form-row mt-3">
                <h4>
                    Include Days
                </h4>
                <div class="form-group">
                    @{
                        DayOfWeek day;
                        for (int i = 0; i < 7; i++)
                        {
                            day = (DayOfWeek)i;
                            <label class="form-check-label m-4">
                                <input type="checkbox" checked="checked" class="form-check-input"
                                name="DayOfWeekCheckbox" value="@i">
                                @day.ToString()


                            </label>
                        }
                    }
                </div>
                

            </div>


            <div class="form-group">
                <label asp-for="requestVacation.VacationTypeId" class="control-label"></label>
                <select asp-for="requestVacation.VacationTypeId" class="form-control" id="ddlVacationType">
                    
                </select>
                <span asp-validation-for="requestVacation.VacationTypeId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="requestVacation.Comment" class="control-label"></label>
                <textarea asp-for="requestVacation.Comment" class="form-control"></textarea>
                <span asp-validation-for="requestVacation.Comment" class="text-danger"></span>
            </div>



            <div class="form-group">
                <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script src="~/Module/VacationPlans.js">

</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

                